@import '../node_modules/@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-orange);
$my-theme-accent: mat-palette($mat-yellow, A400);
$my-theme-warn: mat-palette($mat-red, 800);

@mixin mat-ripple-theme($theme) {
  .mat-ripple-element {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme);

@function my-theme-background($color) {
  @return (
    status-bar: rgba(255,126,104,.75),
    app-bar:    rgba(255,126,104,.75),
    background: rgba(255,126,104,.75),
    hover:      rgba(black, 0.04),
    card:       rgba(255,126,104,.75),
    dialog:     transparent,
    disabled-button: rgba(black, 0.12),
    raised-button: rgba(255,126,104,.75),
    focused-button: $dark-focused,
    selected-button: rgba(255,126,104,.75),
    selected-disabled-button: rgba(255,126,104,.75),
    disabled-button-toggle: rgba(255,126,104,.75),
    unselected-chip: rgba(255,126,104,.75),
    disabled-list-option: rgba(255,126,104,.75),
  );
};

@function my-theme-foreground($color) {
  @return (
    base:              rgba(255,126,104,.75),
    divider:           $dark-dividers,
    dividers:          $dark-dividers,
    disabled:          $dark-disabled-text,
    disabled-button:   rgba(white, 0.3),
    disabled-text:     $dark-disabled-text,
    elevation:         transparent,
    hint-text:         $dark-disabled-text,
    secondary-text:    $dark-secondary-text,
    icon:              rgba(255,126,104,.75),
    icons:             rgba(255,126,104,.75),
    text:              #2d2f41,
    slider-min:        rgba(255,126,104,.75),
    slider-off:        rgba(255,126,104,.75),
    slider-off-active: rgba(255,126,104,.75),
  );
};

$my-foreground: my-theme-foreground(mat-color($my-theme-primary, 700));

$my-background: my-theme-background(mat-color($my-theme-primary, 700));

$my-app-theme-foreground: map-merge($my-theme, (foreground: $my-foreground));

$my-app-theme: map-merge($my-app-theme-foreground, (background: $my-background));

@include angular-material-theme($my-app-theme);

